/* Slider */
.slick-slider {

    display: block;
    position: relative;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {

    display: block;
    position: relative;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {

    display: block;
    position: relative;
    top: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;

    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: inline-block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.slick-dots {
    position: absolute;
    bottom: -9%;
    left: 50%;
    transform: translateX(-50%);
}

.slick-dots li {
    display: inline-block;
    margin: 0 4px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: none;
    background: rgba(102, 102, 102, 0.3);
    font-size: 0;
    border-radius: 70%;
}

.slick-dots .slick-active button {
    background: rgba(102, 102, 102, 1);
}

.slick-prev,
.slick-next {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 9;
    width: 20px;
    height: 40px;
    line-height: 0;
    padding: 0;
    border: none;
    background: transparent;
    background-size: cover;
    color: transparent;
    font-size: 0;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.sliding-row .slick-prev::before,
.slick-next::before {
    display: none;
}

.sliding-row .slick-prev {
    left: -9%;
    background: url('../img/top/img_Arrow_left.png') no-repeat center/contain;
}

.sliding-row .slick-next {
    right: -9%;
    background: url('../img/top/img_Arrow_right.png') no-repeat center/contain;

}

@media screen and (min-width: 768px) and (max-width: 1160px) {

    .slick-prev,
    .slick-next {
        width: 2.604vw;
        height: 5.208vw;
    }

    .sliding-row .slick-prev {
        left: -0.5%;
    }

    .sliding-row .slick-next {
        right: -0.5%;
    }

    .slick-dots li button {


        width: 1.302vw;
        height: 1.302vw;
        border: none;
        background: rgba(102, 102, 102, 0.3);
        font-size: 0;
        border-radius: 70%;
    }

    .slick-dots {
        position: absolute;
        bottom: -8%;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 0.521vw;
    }
}

@media screen and (max-width:767.9px) {
    .slick-dots li button {
        width: 1.563vw;
        height: 1.563vw;
        padding: 0;
        border: none;
        background: rgba(102, 102, 102, 0.3);
        font-size: 0;
        border-radius: 70%;
    }

    .slick-prev,
    .slick-next {
        width: 3.125vw;
        height: 6.25vw;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 0.625vw;
    }

    .slick-dots {
        bottom: -8%;
    }

    .sliding-row .slick-prev {
        left: 0.5%;
    }

    .sliding-row .slick-next {
        right: -0.5%;
    }
}